/* register-login.css */

/* Container for both register and login pages */
.register-container,
.login-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color:aliceblue;
  border-radius: 8px;
  margin-top: 50px;
  box-sizing: border-box;
  box-shadow: 20px 20px 100px rgba(21, 21, 21, 0.534),
    inset -20px -20px 60px rgba(255, 255, 255, 0.951);
    backdrop-filter: blur(10px);
    padding: 40px;
    box-sizing: border-box;
  }
   
    

.height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/HomeBackground.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Title for both register and login */
h2 {
  text-align: center;
  color: #333;
  margin: 0 auto;
}

/* Form layout */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
  box-sizing: border-box;
  border-radius:2%;
}

/* Label styling */
label {
  font-size: 16px;
  color: #0d0d0d;
}

/* Input fields */
input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 20px 20px 100px rgba(21, 21, 21, 0.534),
    inset -20px -20px 60px rgba(255, 255, 255, 0.951);
}

input:focus {
  border-color: #007bff;
}

/* Buttons */
.Auth-button {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  background-color:#0056b3;
  color: white;
}

button {   padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}


button[type="submit"] {
  background-color: blue;
  color: white;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


/* Error and Success Messages */
.error-message,
.success-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.reveal-line {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.reveal-line.visible {
  opacity: 1;
  transform: translateY(0);
}


/* Responsive styling */
@media (max-width: 600px) {
  .register-container,
  .login-container {
    width: 90%;
  }

  h2 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
  }
}
